h1{

    text-decoration:underline;
    text-decoration-color:red; 
}

h3{
    
        text-decoration:underline;
        text-decoration-color:red; 
    }

.red-title{
    color:royalblue;
}

.large-title{
    font-size: 2em;
}